ion-card.recent {
    margin: 30px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    height: 105px;
    width: calc(100% - 60px);
    background: rgba(160, 160, 160, 0.3);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px 1fr;
    gap: 5px;
    h2 {
        margin: 0;
        padding: 0;
        grid-row: 1/2;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
        color: #ffffff;
    }
    ion-card.item {
        margin: 0;
        padding: 0;
        grid-row: 2/3;
        height: 40px;
        --background: #6480e2;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        ion-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0;
            --background: transparent;
            ion-icon {
                margin: 0;
                padding: 0;
                color: white;
                &[slot="end"] {
                    margin: 0 0 0 10px;
                }
                &[slot="start"] {
                    margin: 0 10px 0 0;
                }
            }
            ion-label {
                height: 28px;
                border-left: 2px solid #d6dfff;
                margin: 0;
                padding: 0 10px 0 10px;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
                color: #ffffff;
            }
        }
    }
    p {
        margin: 0;
        grid-row: 3/4;
        text-align: end;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        color: #ffffff;
    }
}
